<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebarFragment" class="sidebar">
    <div class="logo">
        <img src="images/img.png" alt="Bank Logo">
    </div>
    <ul class="nav-links">
        <li><a href="#" data-page="dashboard" class="active">Dashboard</a></li>
        <li><a href="#" data-page="accounts">Accounts</a></li>
        <li><a href="#" data-page="transactions">Transactions</a></li>
        <li><a href="#" data-page="employees">Employees</a></li>
        <li><a href="#" data-page="groupes">Groups</a></li>
        <li><a href="#" data-page="clients">Clients</a></li>
<!--
        <li><a href="#" data-page="logout">Logout</a></li>
-->
    </ul>
</div>
</body>
</html>
